.navigator{
 border: 1px solid black;
  background-color: lightsteelblue;
  padding: 4px 8px;
}
.button-panel{
  display: flex;
  flex-direction: row-reverse;
}
.button-panel button {
border-radius: 0;
  margin-right: 2px;
  transition: all 1s ease;
}
.button-panel button:hover{
  color: mediumspringgreen;
}
.button-panel button:active{
  color: goldenrod;
  background-color: midnightblue;
}
